body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-369.5px;
  top:50%;
  margin-top:-223.5px;
  width:739px;
  height:447px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:447px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:398px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:59px;
  width:563px;
  height:388px;
  font-family:'Trebuchet MS Bold', 'Trebuchet MS Regular', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:66px;
  color:#FFFFFF;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:195px;
  width:438px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  white-space:nowrap;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:256px;
  width:223px;
  height:70px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  -webkit-box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:371px;
  width:200px;
  height:69px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:fixed;
  left:50%;
  margin-left:-369.5px;
  top:50%;
  margin-top:-223.5px;
  width:739px;
  height:447px;
  overflow:hidden;
}
#u1.a {
}
#u1_img.a {
}
#u1.a {
}
#u1_text.a {
}
#u2.a {
}
#u2_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u2.a {
}
#u2_text.a {
}
#u3.a {
}
#u3_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3.a {
}
#u3_text.a {
}
#u4.a {
}
#u4_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  -webkit-box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4.a {
}
#u4_text.a {
}
#u0_state0.a {
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:fixed;
  left:50%;
  margin-left:-369.5px;
  top:50%;
  margin-top:-223.5px;
  width:739px;
  height:447px;
  overflow:hidden;
}
#u1.b {
}
#u1_img.b {
}
#u1.b {
}
#u1_text.b {
}
#u2.b {
}
#u2_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u2.b {
}
#u2_text.b {
}
#u3.b {
}
#u3_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3.b {
}
#u3_text.b {
}
#u4.b {
}
#u4_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  -webkit-box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  box-shadow:-3px -3px 5px 0px rgba(255, 255, 51, 0.349019607843137) inset;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4.b {
}
#u4_text.b {
}
#u0_state0.b {
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
